.splide.ms {
  max-width: 80vw !important;
  margin: auto;

  // .splide__track {
  //   height: 100%;
  //   width: 100%;
  // }

  .splide__slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;

    img.card-img {
      max-height: 300px;
    }
  }
  .splide__arrow {
    background: transparent;
  }
  .splide__arrow--prev {
    left: -20px;
  }
  .splide__arrow--next {
    right: -20px;
  }
}

.table {
  // display: none;
  border: 1px solid lightgray;

  .line {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 0.2em;

    .number,
    .letters,
    .helper,
    .exemple {
      border: 1px solid rgba(white, 0.2);
    }
  }
}
