#page-container {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#gradient-bg,
#mat-bg,
#cards-container,
#focus-overlays,
#effects-container,
#overlays,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  // overflow: hidden;
}

#gradient-bg {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #0d6236,
    #0d5a33,
    #0c532f,
    #0c4b2c,
    #0c4428,
    #0c3e25,
    #0d3823,
    #0d3220,
    #0e2c1d,
    #0e271b,
    #0e2118,
    #0e1c15
  );
}

#mat-bg {
  z-index: 0;
  background: url('/imgs/mat.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 0.5;
  pointer-events: none;
}

#cards-container {
  z-index: 10;
}

#scroll-indicator {
  position: fixed;
  bottom: 30px;
  z-index: 5;
}

#speech-container {
  position: fixed;
  z-index: 15;
  height: 100vh;
  width: 100%;
}

#effects-container {
  position: fixed;
  z-index: 14;
  height: 100vh;
  width: 100%;

  .uno-effect {
    position: absolute;
    z-index: 99;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    left: 50%;
    top: 50%;
  }

  // pointer-events: none;
}
#overlays {
  z-index: 12;

  .overlay-double {
    position: absolute;
    z-index: 11;
    opacity: 0;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 65%,
      rgba(0, 0, 0, 1) 100%
    );

    // pointer-events: none;
  }
}

#outro {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100vh;
  background: white;
  padding: 2rem;
  gap: 2rem;
}

#brevo {
  #sib-container {
    padding: 0;
    background: none;
    max-width: 100% !important;
    width: 900px;

    .sib-input,
    .sib-form-block {
      padding: 0;
    }

    label.entry__label {
      width: 100% !important;
      color: $black;
      font-weight: bold;
      font-size: 2rem;
    }

    input {
      background: rgba(0, 0, 0, 0.05);
      padding: 0.7rem;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      width: 100%;
      border-radius: 1rem;
      outline: none;
      border: none;
    }
  }
}

@media (max-width: $mobile) {
  #overlays {
    .overlay-double {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 45%,
        rgba(0, 0, 0, 0) 55%,
        rgba(0, 0, 0, 0) 62%,
        rgba(0, 0, 0, 0.8) 69%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }

  #brevo {
    #sib-container {
      width: 300px !important;

      label.entry__label {
        font-size: 1rem !important;
      }
    }
  }
}
