:root {
  --vh: 1vh;

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

// body {
//   padding: 0;
//   margin: 0;
//   min-height: 100vh;
// }

a,
.link {
  font-weight: 500;
  color: $color4;
  font-weight: bold;
  text-decoration: inherit;
  transition: color 0.1s ease-in-out;
  cursor: pointer !important;

  &:hover {
    color: $color4;
  }

  &.active {
    color: $color4;
  }
}

a.active.navlink-mobile:not(.logout) {
  font-size: 25px;
}

nav > * {
  cursor: pointer !important;
}

nav a {
  font-size: 0.8rem;
}

// button {
// position: relative;
// padding: 0.5rem;
// border-radius: 1rem;
// border: none;
// outline: none;
// color: white;
// font-weight: bold;
//   pointer-events: auto !important;
//   cursor: pointer !important;

//   &:disabled {
//     opacity: 0.3;
//     cursor: not-allowed;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black;
  @apply font-bold;
  @apply my-2;
  line-height: normal !important;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}

p {
  font-size: 1rem;
  white-space: pre-wrap;

  &.txt-large {
    font-size: 1.75rem;
  }
}
*::selection {
  color: white;
  @apply bg-color4;
}

hr {
  @apply border-1 w-[90%] border-primary-100;
}

/* Remove arrows from number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  background: white;
}

/* Ready Checkbox stuff inside NextUI Checkbox component */
.ready-checkbox > label > span {
  margin-right: 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
  @apply text-primary-100;
}

/* Confirmation Modal */
.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* Buttons */
.btn-w-auto {
  align-self: center;
}

svg {
  display: inline !important;
}

.ql-editor {
  min-height: 200px;
}
