/* Fonts */
// @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors */
$primary: #333;
$secondary: #777;
$success: #5ac392;
$warning: #f2ac29;
$danger: #a12c2c;

$white: #fff;
$black: #111;
$gray: #505050;
$light-gray: #7c7c7c;
$dark-gray: #272727;

$color0: #101010;
$color1: #d22a2c;
$color2: #f5763f;
$color3: #f0d15d;
$color4: #89ab54;
$color5: #67c1d8;
$color6: #1977aa;
$color7: #523c7c;
$color8: #ee5e8a;
$color9: #f5f6f7;

$focus: #f182f6;
$google: #e34133;
$facebook: #4064ae;

$mobile: 1000px;
